body {
    background-color: #fb6107;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 180.69%;
    letter-spacing: -0.003rem;
}

.logo {
    width: 150px;
}

.wrapper {
    margin: 100px 30px;
    height: 100%;
    background: #fff;
}

.nav {
    padding: 20px 150px;
    justify-content: space-between;
}

.nav .left {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.nav a {
    font-size: 14px;
    margin: 20px 30px;
    color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.container {
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-left {
    width: 100%;
}

.main-right > img {
    width: 120%;
    height: auto;
}

.mobile-banner {
    width: 130%;
    margin-bottom: -100px;
    margin-left: -50px;
}

.main-left > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #fb6107;
    margin-bottom: 50px;
}

/* .main-left>p {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 180.69%;
    letter-spacing: -0.003rem;
} */

.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.button-container > a {
    width: 200px;
    background-color: #fb6107;
    align-self: center;
    padding: 18px 0px;
    text-align: center;
    text-decoration: none;
    color: #efefef;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 50px;
}

.contact-container {
    display: flex;
}

.contact {
    display: flex;
    align-items: center;
}

.contact > img {
    width: 80px;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.contact > p {
    color: #efefef88;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 180.69%;
    letter-spacing: -0.003rem;
    margin-right: 40px;
}

.google-play {
    width: 200px !important;
    border-radius: 0 !important;
    height: auto;
}

.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40;
}

.footer h4 {
    font-size: 18px;
    color: #efefef;
    margin: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.footer p {
    color: #fb6107;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 180.69%;
    letter-spacing: -0.003rem;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.mobile-only {
    display: none;
}

.screenshot-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.screenshot {
    width: 150px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin: 0px 5px;
    transition: 0.3s;
    cursor: pointer;
}

.subtitle {
    margin-top: -25px;
    color: #777 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.screenshot:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 350px;
    height: auto;
}

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0px 20px;
    }
    .nav {
        padding: 0px 20px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 100px;
    }
    .main-left > h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #fb6107;
    }
    .wrapper {
        margin: 30px 0px;
    }
    .nav a {
        font-size: 10px;
        margin: 20px 10px;
        color: #efefef;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: 600;
    }
    .main {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-left {
        width: 100%;
    }
    .main-right {
        width: 100%;
    }
    .nav .lg-logo {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    .main-right img {
        display: none;
    }
    .contact-container {
        margin: 20px 0px;
        flex-direction: column;
    }
    .button-container {
        flex-direction: column;
        align-items: center;
    }
    .button-container > div,
    .button-container > a {
        margin: 10px 0px;
    }
    .footer {
        flex-direction: column;
    }
}
